h1,h2,h3,h4,h5,h6 {
	font-family: 'Coda', serif;
	font-weight: 400;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 20px;
	margin-top: 5px;
}
h4 {
	font-size: 19px;
	margin-top: 5px;
}
h5 {
	font-size: 18px;
	margin-top: 5px;
}
h6 {
	font-size: 16px;
	margin-top: 5px;
}
body {
	background: #333;
	color: #ededed;
	min-width: 960px;
	padding: 50px 0 50px 0;
}
a {
	color: #95ff46;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #5eb700;
}
p {
	margin: 7px 0 2px 0;
}
button {
	font-family: 'Coda', serif;
	padding: 4px 9px 3px 9px;
	margin: 8px 0 2px 0;
	background-color:#5eb700;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #95ff46), color-stop(0.05, #82ff2e), color-stop(1, #5eb700));
	background-image:-moz-linear-gradient(top, #95ff46, #82ff2e 5%, #5eb700);
	background-image:-o-linear-gradient(top, #95ff46, #82ff2e 5%, #5eb700);
	border-radius: 3px;
	border: none;
	display: block;
}
div#aeroTopBanner {
	font-family: 'Coda', serif;
	font-weight: 400;
	font-size: 25px;
	position: fixed;
	min-width: 800px;
	top: 0px;
	width: 90%;
	padding: 5px 5% 3px 5%;
	background-color:#82ff2e;
	border-bottom: 3px solid #5eb700;
	color: #333;
}
.aeroFinePrint {
	font-size: 10px;
}
.aeroHidden {
	display: none;
}
.aeroCentredColumn {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.aeroInstallPane {
	border: 1px solid #999;
	border-radius: 2px;
	padding: 10px 10px 10px 10px;
	background: #3c3c3c;
	margin-bottom: 20px;
}
.aeroWelcomePane {
	border: 1px solid #999;
	border-radius: 2px;
	padding: 10px 10px 10px 10px;
	background: #3c3c3c;
	margin-bottom: 20px;
}
.aeroFeedbackGood {
	border: 1px solid #669966;
	background: #ccffcc;
	color: #333;
}
.aeroFeedbackBad {
	border: 1px solid #996666;
	background: #ffcccc;
	color: #333;
}
.aeroFeedback {
	border-radius: 3px;
	width: 190px;
	padding: 5px 10px 5px 10px;
	margin: 3px 0px 5px 0px;
	margin-top: 6px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2px;
}
div#aeroFooter {
	position: fixed;
	bottom: 0px;
	left: 0px;
	min-width: 800px;
	width: 90%;
	padding: 5px 5% 20px 5%;
	background-color:#3c3c3c;
	border-top: 4px solid #95ff46;
	margin-bottom: 0;
}
table.aeroTable {
	width: 100%;
	font-size: 12px;
	border: 1px solid #999;
}
table.aeroTable td {
	padding: 2px 3px 1px 3px;
}
table.aeroTable tr:first-child {
	border-bottom: 1px solid #999;
}
table.aeroTable tr:nth-child(even) {
	background: #333;
}
table.aeroEditor {
	width: 90%;
	margin: 20px 5% 20px 5%;
}
table.aeroEditor input {
	border: 1px solid #999;
	padding: 1px 3px 2px 3px;
}
table.aeroEditor button {
	display: inline;
	margin: 0 2px 1px 2px;
}
tr.aeroRow {
	border-top: 1px solid #999;
}
tr.aeroRow td {
	background-color: #222;
	padding: 6px 2px 1px 2px;
}
tr.aeroRow input {
	background-color: #222;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 18px;
	color: #fff;
}
table.aeroNodes {
	width: 100%;
	margin-bottom: 20px;
}
table.aeroNodes tr:nth-child(odd) {
	background: #444;
}
table.aeroNodes input {
	background-color: #333;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 18px;
	color: #fff;
	width: 90%;
}
table.aeroNodes tr:nth-child(odd) input {
	background-color: #444;
	color: #fff;
}
table.aeroNodes tr:first-child {
	background: #222;
}
table.aeroNodes td {
	padding: 4px 2px 6px 2px;
}
div.aeroDiagramEdit {
	margin: 0 5% 20px 5%;
}
div.aeroDiagramEdit input {
	background-color: #333;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 18px;
	color: #fff;
	border: 1px solid #999;
}
